.container {
  box-sizing: border-box;
  padding: 0 2rem;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.camControl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.camControl > iframe {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.carControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
  padding-bottom: 5rem;

  /* position: relative; */
}
.upperButton > button:first-child {
  background-color: white;
}
.lowerButton > button:first-child {
  background-color: white;
}
.middleButton > button:first-child {
  background-color: rgb(255, 255, 255);
  margin-right: 120px;
}

.middleButton > button:last-child {
  background-color: rgb(252, 252, 252);
  margin-left: 120px;
}

.voiceButton > button:first-child {
  display: inline-flex;
  align-items: center;
  background-color: #011674;
  color: #fff8f8;
}

.stop {
  position: absolute;
  right: 4rem;
  top: 65vh;
}

.stop > button {
  padding: 16px;
  background-color: rgb(241, 71, 71);
  color: white;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 8%;
  font-weight: bold;
}
